<html>
    <head>
        <title>Administration Page for ChatBot</title>
        <link rel="stylesheet" href="/styles/style_admin.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />

        <!-- CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- JS Bootstrap -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    </head>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="administration_page.html">ChatBot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="administration_page.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html" id="login-link">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" id="logout-link">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <body class="general_body">
      <!--<div class="search-container">
        <form class="search-form" action="#">
          <input type="text" placeholder="Search...">
          <button type="submit">Search</button>
        </form>
      </div>-->
        <div class="container">
            <div class="forms">
              <form class="creation-form">
                  <h1>Bot Creation</h1>
                  <label for="bot-image">Bot image:</label>
                  <div class="image-carousel">
                      <input type="radio" name="bot-image" id="image1" value="image1.png">
                      <label for="image1"><img src="/images/image1.png" alt="Image 1"></label>
                      
                      <input type="radio" name="bot-image" id="image2" value="image2.png">
                      <label for="image2"><img src="/images/image2.png" alt="Image 2"></label>
                      
                      <input type="radio" name="bot-image" id="image3" value="image3.png">
                      <label for="image3"><img src="/images/image3.png" alt="Image 3"></label>
                      
                      <input type="radio" name="bot-image" id="image4" value="image4.png">
                      <label for="image4"><img src="/images/image4.png" alt="Image 4"></label>
                      
                      <input type="radio" name="bot-image" id="image5" value="image5.png">
                      <label for="image5"><img src="/images/image5.png" alt="Image 5"></label>
                  </div>
                  <label for="bot-name">Bot name: </label>
                  <input type="text" id="bot-name" name="bot-name" placeholder="Insert the name...">
                  <label for="bot-file">Brains: </label>
                  <select id="bot-file" name="bot-file">
                    <option value="-">-</option>
                  </select>
                  <label>Selected brains:</label>
                  <ol id="selected-brains"></ol>
                  <br>
                  <label for="bot-status">Status: </label><br>
                  <label><input type="radio" name="status_choice" value="active"> Active </label>
                  <label><input type="radio" name="status_choice" value="inactive"> Inactive </label>
                  <br><br>
                  <label for="bot-mouths">Active also on: </label><br>
                  <input type="checkbox" id="checkbox1" name="checkbox" value="discord">
                  <label for="checkbox1"><img class="mouth" src="/images/discord.png" alt="Discord" /></label>
                  <br>
                  <button class="create-button" type="submit">Create Bot</button>
              </form>
              <form class="update-form">
                <h1>Bot Update</h1>
                <label for="update-bot-image">Bot image:</label>
                <div class="image-carousel">
                  <input type="radio" name="update-bot-image" id="up_image1" value="image1.png">
                  <label for="up_image1"><img src="/images/image1.png" alt="Image 1"></label>
                      
                  <input type="radio" name="update-bot-image" id="up_image2" value="image2.png">
                  <label for="up_image2"><img src="/images/image2.png" alt="Image 2"></label>
                      
                  <input type="radio" name="update-bot-image" id="up_image3" value="image3.png">
                  <label for="up_image3"><img src="/images/image3.png" alt="Image 3"></label>
                      
                  <input type="radio" name="update-bot-image" id="up_image4" value="image4.png">
                  <label for="up_image4"><img src="/images/image4.png" alt="Image 4"></label>
                      
                  <input type="radio" name="update-bot-image" id="up_image5" value="image5.png">
                  <label for="up_image5"><img src="/images/image5.png" alt="Image 5"></label>
                </div>
                <label for="updated-bot-name">Bot name: </label>
                <input type="text" id="updated-bot-name" name="up-bot-name" placeholder="Insert the new name...">
                <label>Remove brains already present: </label>
                <div id="existingBrainsContainer"></div>
                <label for="updated-bot-file">Add brains: </label>
                <select id="updated-bot-file" name="up-bot-file">
                  <option value="-">-</option>
                </select>
                <br>
                <label>Selected brains:</label>
                <ol id="updated-selected-brains"></ol>
                <br>
                <label for="updated-bot-status">Status: </label><br>
                <label><input type="radio" name="up_status_choice" value="active"> Active </label>
                <label><input type="radio" name="up_status_choice" value="inactive"> Inactive </label>
                <br><br>
                <label for="updated-bot-mouths">Already active also on (select to disable it): </label><br>
                <div id="mouth_choices"></div>
                <br>
                <label for="updated-bot-mouths">Active also on: </label><br>
                <div id="mouth_choices_notActive"></div>
                <br>
                <button class="update-button" type="submit">Update Bot</button>
              </form>
            </div>
            <br>

            <h2>Existing bots:</h2> <br>
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">  
                <div class="carousel-inner">
                </div>
                <br><br>
                <ol class="carousel-indicators">
                </ol>
                <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
        </div> 
    </body>
    <script>
        document.addEventListener('DOMContentLoaded',init);

        let botList;
        let createNewBotButton;
        let updateBotButton;
        let updateFormContainer;
        let chosen_image1;
        let chosen_image2;
        let chosen_image3;
        let chosen_image4;
        let chosen_image5;
        let botName;
        let selected;
        let update_selected;
        let rivescript;


        function manageFilesInCreation() {
          const select = document.getElementById("bot-file");
          const list = document.getElementById("selected-brains");
          const update_select = document.getElementById("updated-bot-file");
          const update_list = document.getElementById("updated-selected-brains");

          select.addEventListener("change", function() {
              const selectedOption = this.options[this.selectedIndex];
              if (selectedOption.value != '-' && !selected.includes(selectedOption.value)) {
                  selected.push(selectedOption.value);
                  const listItem = document.createElement("li");
                  listItem.textContent = selectedOption.textContent;
                  list.appendChild(listItem);
              } else if(selectedOption.value === "-") {
                selected = [];
                list.innerHTML = "";
              }
          });

          update_select.addEventListener("change", function() {
              const up_selectedOption = this.options[this.selectedIndex];
              if (up_selectedOption.value != '-' && !update_selected.includes(up_selectedOption.value)) {
                  update_selected.push(up_selectedOption.value);
                  const up_listItem = document.createElement("li");
                  up_listItem.textContent = up_selectedOption.textContent;
                  update_list.appendChild(up_listItem);
              } else if(up_selectedOption.value === "-") {
                update_selected = [];
                update_list.innerHTML = "";
              }
          });
        }

        function createNewBot() {
          const radioButtons = document.getElementsByName('bot-image');
          let selectedImage = 'image1.png'; //default value

          for (let i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
              selectedImage = radioButtons[i].value;
              break;
            }
          }

          const checkboxButtons = document.getElementsByName('checkbox');
          let mouths = [];
          for(let j = 0; j < checkboxButtons.length; j++) {
            if(checkboxButtons[j].checked) {
              mouths.push(checkboxButtons[j].value);
            }
          }

          let status = 'active';
          const options = document.getElementsByName('status_choice');
          for (let i = 0; i < options.length; i++) {
            if (options[i].checked) {
              status = options[i].value;
              break;
            }
          }

          let myHeaders = new Headers();
          myHeaders.append('Content-Type', 'application/json');
          let payload = {
            profile_url: selectedImage,
            name: botName.value,
            status: status,
            brains: selected,
            mouths: mouths,
            history: [],
          };
          let myBody = JSON.stringify(payload);
          let myInit = { 
            method: 'POST',
            headers: myHeaders,
            body: myBody,
          };

          //launch the request
          fetch('/',myInit)
          .then((httpResponse)=>{
            return httpResponse.text();
          })
          .then((responseBody)=>{
            reloadBotList();
            //clear fields

            console.log(`response is ${responseBody}`);
          })
          .catch((err)=>{
            console.log(`ERROR : ${err}`);
          })
        }

        function addBot(bot, active, num) {

          let parentDiv = document.createElement('div');
          parentDiv.className = "carousel-item " + active;
          
          let childDiv = document.createElement('div');
          childDiv.className = "container2";

          let rowDiv = document.createElement('div');
          rowDiv.className = "row";

          let imageDiv = document.createElement('div');
          imageDiv.className = "col-md-6";

          let profile_img = document.createElement('img');
          profile_img.src = "/images/" + bot.profile_url;
          profile_img.className = "img-fluid";
          profile_img.alt = "Profile pic";

          imageDiv.append(profile_img);

          rowDiv.append(imageDiv);

          let parent_info_box = document.createElement('div');
          parent_info_box.className = "col-md-6";

          let button_div = document.createElement('div');
          button_div.className = "buttons_header";

          let modify_button = document.createElement('button');
          modify_button.className = "edit-button";
          modify_button.addEventListener('click', () => {updateBot(bot.id)});
          
          let modify_icon = document.createElement('i');
          modify_icon.className = "fas fa-pencil-alt";

          modify_button.append(modify_icon);

          let delete_button = document.createElement('button');
          delete_button.className = "delete-button";
          delete_button.addEventListener('click', () => {deleteBot(bot.id)});

          let delete_icon = document.createElement('i');
          delete_icon.className = "fas fa-trash-alt";

          delete_button.append(delete_icon);

          button_div.append(modify_button);
          button_div.append(delete_button);
          parent_info_box.append(button_div);

          let info_box = document.createElement('div');
          info_box.className = "info-box";

          let br = document.createElement('br');

          info_box.append(br);

          let bot_name = document.createElement('h2');
          bot_name.textContent = bot.name;

          info_box.append(bot_name);
          
          let status = document.createElement('p');
          status.textContent = "Status: " + bot.status;

          info_box.append(status);

          let brains = document.createElement('p');
          brains.textContent = "Brains: ";

          info_box.append(brains);

          let brain_list = document.createElement('ul');
          for(let i = 0; i < bot.brains.length; i++) {
            let brain_item = document.createElement('li');
            brain_item.textContent = bot.brains[i];
            brain_list.append(brain_item);
          }

          info_box.append(brain_list);

          let mouths = document.createElement('p');
          mouths.textContent = "Mouths: ";

          info_box.append(mouths);

          let mouths_container = document.createElement('div');
          mouths_container.className = "mouths_container";

          for(let i = 0; i < bot.mouths.length; i++) {
            let img = document.createElement('img');
            img.src = "/images/" + bot.mouths[i] + ".png";
            img.className = "mouth";
            img.alt = bot.mouths[i];

            mouths_container.append(img);
          }

          info_box.append(mouths_container);

          parent_info_box.append(info_box);

          rowDiv.append(parent_info_box);

          childDiv.append(rowDiv);

          parentDiv.append(childDiv);

          //append the brand new bot div to the carousel
          botList.append(parentDiv);

          //add also the indicator
          let indicators = document.querySelector('.carousel-indicators');
          let item = document.createElement('li');
          item.dataset.target = '#carouselIndicators';
          item.dataset.slideTo = num;
          item.className = active;

          indicators.append(item);
        }

        function reloadBotList() {

          while (botList.firstChild) {
            botList.removeChild(botList.firstChild);
          }

          let myHeaders = new Headers();
          myHeaders.append('Content-Type', 'application/json');

          let myInit = { 
            method: 'GET',
                    headers: myHeaders,
                    cache: 'default' 
                };

          fetch('/',myInit)
            .then((httpResponse)=>{
              return httpResponse.json()
            })
            .then((data)=>{
              let setOfBots = data.bots;
              let isAdmin = data.admin;
              rivescripts = data.rivescripts;

              const formContainer = document.querySelector('.creation-form');
              const logout_button = document.getElementById('logout-link');
              const login_button = document.getElementById('login-link');
              const rivescripts_creation = document.getElementById('bot-file');

              // Fill the creation box with rivescripts
              rivescripts.forEach((rivescript) => {
                let option = document.createElement('option');
                option.value = rivescript;
                option.textContent = rivescript;
                rivescripts_creation.append(option);
              })

              if(setOfBots.length != 0) {
                let first = true;
                i = 1;
                for(let bot of setOfBots){
                  if(first == true) {
                    addBot(bot,"active", "0");
                    first = false;
                  } else {
                    addBot(bot, "", i);
                    i++;
                  }
                }
              } else {
                let div = document.getElementById('carouselIndicators')
                div.innerHTML = "";
                let noBot = document.createElement('p');
                noBot.textContent = "No bot has been created yet."

                div.append(noBot);
              }

              if (isAdmin) {
                formContainer.style.display = 'block';
                logout_button.style.display = 'block';
                login_button.style.display = 'none';
              } else {
                formContainer.style.display = 'none';
                logout_button.style.display = 'none';
                login_button.style.display = 'block';

                let edit_button = document.querySelector('.edit-button');
                edit_button.style.display = 'none';

                let modify_button = document.querySelector('.delete-button');
                modify_button.style.display = 'none';
              }
            })
            .catch((err)=>{
              console.log(`ERROR : ${err}`);
            })
        }

        function deleteBot(botId) {
          let myHeaders = new Headers();
          myHeaders.append('Content-Type', 'application/json');
          
          let myInit = { 
            method: 'DELETE',
            headers: myHeaders,
          };

          fetch(`/${botId}`,myInit)
            .then((httpResponse)=>{
              return httpResponse.text()
            })
            .then((returnString)=>{
              console.log(`All is OK ${returnString}`)
              window.location.reload();
            })
            .catch((err)=>{
              console.log(`ERROR : ${err}`);
            })
        }

        function updateBot(bot_id) {
          setExistingBrainsAndMouths(bot_id);
          updateFormContainer.style.display = 'block';
          // Attach the id of the bot to the form in order to keep track of this information when you send the form
          updateFormContainer.id = bot_id;
        }

        function sendUpdate() {
          event.preventDefault();

          // Retrieve the bot id from the update form
          const update_form = document.querySelector('.update-form');
          const bot_id = update_form.id;

          // Retrieve the eventual new bot name
          const nameField = document.getElementById('updated-bot-name');
          const botName = nameField.value;

          // Retrieve the eventual new profile picture for the bot
          const radioButtons = document.getElementsByName('update-bot-image');
          let selectedImage = '';

          for (let i = 0; i < radioButtons.length; i++) {
            if (radioButtons[i].checked) {
              selectedImage = radioButtons[i].value;
              break;
            }
          }

          // Retrieve the eventual brains to delete
          const brainsToDelCheckboxes = document.getElementsByClassName('brainsToDelete');
          let brainsToDelete = [];
          for(let j = 0; j < brainsToDelCheckboxes.length; j++) {
            if(brainsToDelCheckboxes[j].checked) {
              brainsToDelete.push(brainsToDelCheckboxes[j].value);
            }
          }

          console.log(brainsToDelete);

          const mouthCheckboxButtonsAdd = document.getElementsByName('up-checkbox-to-add');
          const mouthCheckboxButtonsRemove = document.getElementsByName('up-checkbox-to-remove');
          
          let mouthsAdd = [];
          for(let j = 0; j < mouthCheckboxButtonsAdd.length; j++) {
            if(mouthCheckboxButtonsAdd[j].checked) {
              mouthsAdd.push(mouthCheckboxButtonsAdd[j].value);
            }
          }

          let mouthsRemove = [];
          for(let j = 0; j < mouthCheckboxButtonsRemove.length; j++) {
            if(mouthCheckboxButtonsRemove[j].checked) {
              mouthsRemove.push(mouthCheckboxButtonsRemove[j].value);
            }
          }

          // Retrieve the eventual new bot status
          let status = '';
          const options = document.getElementsByName('up_status_choice');
          for (let i = 0; i < options.length; i++) {
            if (options[i].checked) {
              status = options[i].value;
              break;
            }
          }

          let myHeaders = new Headers();
          myHeaders.append('Content-Type', 'application/json');
          let payload = {
            id: bot_id,
            profile_url: selectedImage,
            name: botName,
            status: status,
            brains_toAdd: update_selected,
            brains_toDelete: brainsToDelete,
            mouths_toAdd: mouthsAdd,
            mouths_toRemove: mouthsRemove
          };
          console.log(payload);

          let myBody = JSON.stringify(payload);
          let myInit = { 
            method: 'PATCH',
            headers: myHeaders,
            body: myBody,
          };
          
          //launch the request
          fetch('/',myInit)
          .then((httpResponse)=>{
            return httpResponse.text();
          })
          .then((responseBody)=>{
            //reloadBotList();
            window.location.reload();

            console.log(`response is ${responseBody}`);
          })
          .catch((err)=>{
            console.log(`ERROR : ${err}`);
          })
        }

        // Retrieve from the database the brains and mouths already set for the bot to update
        // and set the html containers to display them
        function setExistingBrainsAndMouths(bot_id) {
          fetch(`/${bot_id}`, { method: 'GET' })
          .then((httpResponse)=>{
              return httpResponse.json()
            })
            .then((data) => {
              const brains = data.brains;
              const mouths = data.mouths;

              // Create a checkbox for every inserted brain so that the user can eventually remove it
              const existingBrainsContainer = document.getElementById('existingBrainsContainer');
              brains.forEach(brain => {
                const brainCheckbox = document.createElement('input');
                brainCheckbox.type = 'checkbox';
                brainCheckbox.className = 'brainsToDelete';
                brainCheckbox.name = 'existingBrains[]';
                brainCheckbox.value = brain.name;

                const brainLabel = document.createElement('label');
                brainLabel.appendChild(brainCheckbox);
                brainLabel.appendChild(document.createTextNode(brain.name));

                existingBrainsContainer.appendChild(brainLabel);
                existingBrainsContainer.appendChild(document.createElement('br'));
              });

              // Display the brains that are not yet given to the bot to update
              const remainingBrains = document.getElementById('updated-bot-file');
              rivescripts.forEach((rivescript) => {
                let brains_array = [];
                brains.forEach((brain) =>{
                  brains_array.push(brain.name);
                })
                if(!brains_array.includes(rivescript)) {
                  let option = document.createElement('option');
                  option.value = rivescript;
                  option.textContent = rivescript;
                  remainingBrains.append(option);
                }
              })

              // Create a checkbox for every inserted mouth so that the user can eventually remove it
              let mouthsActive = document.getElementById('mouth_choices');
              mouths.forEach((mouth) => {
                const mouthCheckbox = document.createElement('input');
                mouthCheckbox.type = 'checkbox';
                mouthCheckbox.id = 'updated-checkbox1';
                mouthCheckbox.name = 'up-checkbox-to-remove';
                mouthCheckbox.value = mouth.name;

                const mouthLabel = document.createElement('label');
                
                const img = document.createElement('img');
                img.className = "mouth";
                img.src = "/images/" + mouth.name + '.png';
                img.alt = mouth.name;

                mouthLabel.appendChild(img);

                mouthsActive.appendChild(mouthCheckbox);
                mouthsActive.appendChild(mouthLabel);
                mouthsActive.appendChild(document.createElement('br'));
              })

              let mouths_array = [];
              mouths.forEach(mouth => {
                mouths_array.push(mouth.name);
              })
              if(!mouths_array.includes("discord")) {
                let mouthsNotActive = document.getElementById('mouth_choices_notActive');
                const mouthCheckbox2 = document.createElement('input');
                mouthCheckbox2.type = 'checkbox';
                mouthCheckbox2.id = 'updated-checkbox1';
                mouthCheckbox2.name = 'up-checkbox-to-add';
                mouthCheckbox2.value = "discord";

                const mouthLabel2 = document.createElement('label');
                
                const img2 = document.createElement('img');
                img2.className = "mouth";
                img2.src = "/images/discord.png";
                img2.alt = "discord";

                mouthLabel2.appendChild(img2);

                mouthsNotActive.appendChild(mouthCheckbox2);
                mouthsNotActive.appendChild(mouthLabel2);
                mouthsNotActive.appendChild(document.createElement('br'));
              }
            })
        }

        function init() {
          botList = document.querySelector('.carousel-inner');
          chosen_image1 = document.getElementById('image1');
          chosen_image2 = document.getElementById('image2');
          chosen_image3 = document.getElementById('image3');
          chosen_image4 = document.getElementById('image4');
          chosen_image5 = document.getElementById('image5');
          botName = document.getElementById('bot-name');
          updateFormContainer = document.querySelector('.update-form');
          updateFormContainer.style.display = 'none';
          selected = [];
          update_selected = [];
          const logoutLink = document.getElementById('logout-link');
          logoutLink.addEventListener('click', async (event) => {
            event.preventDefault(); 
      
            fetch('/logout', { method: 'POST' })
              .then(()=>{
                console.log("Redirecting to login page...")
                window.location.href = '/static/login.html';
              })
              .catch((err)=>{
                console.error(`Server responded with status ${err}`);
              });
          });

          createNewBotButton = document.querySelector('.create-button');
          createNewBotButton.addEventListener('click', createNewBot);

          updateBotButton = document.querySelector('.update-button');
          updateBotButton.addEventListener('click', sendUpdate);

          manageFilesInCreation();
          reloadBotList();
        }
    </script>
</html>